/*  Excursion Mobile App Webpage */

/* Universal Styles */
* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 16px;
  color: white;
  background-color: black;
  text-align: center;
  max-width: 1280px;
}

h1 {
  font-weight: normal;
  font-size: 50px;
}

h2 {
  font-weight: 300;
  font-size: 42px;
}

p {
  font-size: 21px;
  color: gray;
}

a {
  color: aquamarine;
}



.copyright {
  text-align: right;
  color: gray;
}